*{
    margin: 0px;
    box-sizing: border-box;
}
body{
background: #dddddd;
display: flex;


}

.main-container{
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 10%;
    width: max-content;

}



.todo-box{
    
    display: flex;
    flex-direction: column;
    padding: 30px 20px 20px 20px;
    background: #fff;
    border-radius: 5px;
    width: 400px;
    gap: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1{
    font-size: 45px;
}

h2{
    font-size: 35px;
    background: none;
    padding: 10px;
}

.delete-button{
    background: none;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
button{
    background: rgba(117, 28, 28, 0.973);
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-style: none;
    font-weight: bold;
    align-items: end;
    
}

.btn {
    font:inherit;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: #800040;
    color: white;
    border: 1px solid #800040;
    margin: 0 1rem;
}

.btn:hover{
    background-color: #9c1458;
    border-color: #9c1458;
}

.btn--cancel{
    background-color: transparent;
    color: #800040;
}

.btn--cancel:hover{
    background-color: #f8dae9;
}

.modal {
    position: fixed;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    width: 30rem;
    z-index: 2;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;

     /* top: 25;
    left: 55;
    right: 25;
    bottom: 25; */
    /* max-height: 100%;
    max-width: 100%; */
}

.modal p {
    margin-bottom: 30px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(59, 59, 59, 0.452);
    z-index: 1;
}
